/* BottomCarousel.css */

.bottom-carousel-div {
    width: 100%;
    display: flex;
    justify-content: center;
}
.bottom-carousel {
    position: relative;
    width: 900px;
    max-height: 600px;
    overflow: hidden;
    background-color: #2BB673;
    padding: 10px 0;
    display: none;
    
}
.bottom-carousel.active {
    display: block;
    transition: background-color 0.3s ease;
}
.bottom-carousel.active.manual-input-active {
    background-color: #A2B0FE;
}
.carousel-content-bottom {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.carousel-item-bottom {
    display: block;
    padding: 0px 20px;
    background-color: azure;
    border-radius: 15px;
    width: 600px;
    margin: 10px;
    color: #000000; /* Matrix green */
    font-family: "Space Grotesk";
    font-size: 58px;
    cursor: pointer;
    transition:
        transform 0.2s,
        text-shadow 0.2s;
}
.carousel-item-bottom:hover,
.carousel-item-bottom:focus {
    background-color: #D9FFA1;
    transform: scale(1.1);
    text-shadow: 0 0 10px #000000;
    outline: none; /* Remove default focus outline */
}
.carousel-item-bottom.selected {
    box-shadow: 0 0 10px #000000;
    background-color: #9F0;
    outline: none; /* Remove default focus outline */
}
.carousel-item-bottom.fixed:hover,
.carousel-item-bottom.fixed:focus,
.carousel-item-bottom.fixed.selected {
    transform: none; /* Prevent scaling for fixed item */
}
.carousel-item-bottom.button:hover{
    background-color: #9F0;
}

/* Manual input styling */
.manual-input {
    width: 600px;
    margin-bottom: 0px;
    background-color: #A2B0FE;
    z-index: 99;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.manual-input input {
    background-color: #A2B0FE;
    color: #000000;
    border: 2px solid #000000;
    border-radius: 10px;
    padding: 0px;
    font-family: "Space Grotesk";
    font-size:40px;
    flex-grow: 1;
    margin-right: 5px;
}
.manual-input button {
    background-color: #ffffff;
    color: black;
    border: none;
    padding: 0p;
    cursor: pointer;
    font-family: "Space Grotesk";
}

.manual-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .manual-input-header{
    font-size: 35px;
    font-family: "Space Grotesk";
    color: #000000;
    margin-bottom: 10px;
}