/* TopCarousel.css */

.top-carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: #2BB673;
    padding: 10px 0;
}

.carousel-content {
    display: inline-block;
    white-space: nowrap;
    animation: scroll 25s linear infinite;
}

.challengeText {
    font-size: 1em;
    color: #000000; 
    font-family: 'Inter', 'Lora', monospace;
    /* font-family: 'Space Grotesk'; */
    text-align: center;
    margin-top: 0px;
    background-color: #ffffff;
    padding: 10px 20px;
    text-transform: uppercase;
    animation: flicker 0.5s infinite alternate;
}

.challengeText:hover{
    animation-play-state: paused;
    background-color: #ffffff;
}


.carousel-item {
    display: inline-block;
    background-color: #2BB673;
    padding: 10px 20px;
    color: #000000;
    font-family: 'Inter', 'Lora', monospace;
    font-size: 2em;
    cursor: pointer;
    transition:
        transform 0.2s,
        text-shadow 0.2s;
}

.top-carousel:hover .carousel-content {
    animation-play-state: paused;
}
.carousel-item:hover {
    transform: scale(1.1);
    border-color: #8F70F7;
    border-width: 5px;
    text-shadow: 0 0 10px #ffffff;
}

.carousel-item.selected .challengeText{
    background-color: #8F70F7;
    box-shadow: 0 0 10px #8F70F7;
    animation-play-state: paused;
}

/* Scrolling animation */
@keyframes scroll {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}

@keyframes flicker {
    0% {
      background-color: #ffffff;
    }
    100% {
      background-color: #2BB673;
    }
  }
