/* App.css */

.App {
    background-color: black;
    color: #00ff00; /* Matrix green */
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    height: 100vh;
    overflow: hidden;
  }
  
  .bot-response {
    margin-top: 20px;
    font-size: 1.2em;
  }
  
.topSeparator {
  height: 100px;
}
.bottomSeperator{
  height: 100px;

}


.Title{
  width:100%;
  align-items: center;
  height:50px;
  font-size: 3em;
  padding-bottom: 150px;
}

.FooterBar{
  position: fixed;
  bottom: 0;
  width: 100%;
  color: black;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5em;
  background-color: rgba(238, 236, 236, 0.982);
}
